body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/* address {
  font-style: normal;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-accent {
  color: #fd9222;
}

.menu-list {
  display: flex;
  gap: 24px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* .features-subtitle:hover + p {
  background-color: #fd9222;
} */

/*----------- HEADER----------- */

.header {
  /* padding-top: 24px;
  padding-bottom: 32px; */
}

.header-container {
  display: flex;
  /* align-items: center; */
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  color: #111;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-soc-list {
  display: flex;
  gap: 18px;
}

.header-soc-link {
  padding-top: 24px;
  padding-bottom: 32px;
  display: inline-block;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
}

.icon-list {
  display: flex;
  gap: 10px;
}

.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: aqua;
}

.icon-link:hover {
  background-color: #fd9222;
}

.icon-icon {
  fill: transparent;
  stroke: #ffffff;
}

/* .icon-link:hover .icon-icon  {
  stroke: #5922fd;
} */

/*----------- ----------- */

/*----------- HERO----------- */

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
  padding: 380px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-primary-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-primary-btn:hover,
.hero-primary-btn:focus {
  color: #fd9222;
}

/* .hero-primary-btn:is(:hover, :focus, :active) {
  color: #fd9222;
} */
/* 
.hero-primary-btn:focus {
  color: #fd9222;
} */

.hero-secondary-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*----------- ----------- */

/*----------- FEATURES----------- */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*----------- ----------- */

/*-----------TASTE ----------- */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  /* gap: 24px 19px; */
  column-gap: 19px;
  row-gap: 24px;
  flex-wrap: wrap;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px;
  width: calc((100% - 3 * 19px) / 4);
}

.taste-image {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/*----------- ----------- */

/*----------- MADE----------- */

.made {
}

.made-title {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.made-title::before {
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../images/review-img-1.jpg);
  background-size: cover;
  margin-right: 23px;
}

.made-title::after {
  content: '!';
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*----------- ----------- */

/*----------- REVIEW----------- */

.review {
}

.review-title {
}

.review-list {
  display: flex;
  gap: 28px;
}

.review-item {
  padding: 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 56px) / 3);
}

.review-image {
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/*----------- ----------- */

/*----------- FOOTER----------- */

.footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-navigation {
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  color: #ffffff;
}

/*----------- ----------- */
